.food-cards-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.food-card > div {
  margin: 1rem;
}
